@model IEnumerable<AirlineResSystem.BusinessLayer.Model.FlightInfo>

@{
    ViewBag.Title = "CancelTicket";
}

<h2>CancelTicket</h2>

<p>
    @Html.ActionLink("Search Flight", "Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <button class="btn-danger submitBtn">Cancel</button>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">

    $(document).ready(function (e) {
        $(".submitBtn").on("click", function (e) {

        });
    });
</script>